main{
  display: flex;
  justify-content: space-between;
}
h1{
  width: 200px;
  background:blue;
}
h2{
   width: 200px;
  background:red;
}
span{
    width: 200px;
  background:pink;
}
p{
    width: 200px;
  background:yellow;
}